/* Define CSS class for primary color */
.primary-color {
    color: #30E329 !important;
  }

a:hover {
    color: #30E329 !important;
    transition: .2s ease-in-out;
}

#wsydairport {
    width: 100%;
}

.image-with-text {
    position: relative;
    padding: 20px;
    background-color: #F8F8F8;
    /* Set the background image */
    background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
  }
  
  .image-with-text h1,
  .image-with-text p {
    position: relative;
    z-index: 1; /* Set the z-index to be above the background image */
  }
  
  .image-with-text img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Set the z-index to be behind the text */
  }

#home {
    height: 100% !important;
}